## Ignore Visual Studio temporary files, build results, and
## user-specific files

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
**/bin/
**/obj/

# Uncomment if you have tasks or test result files
# *.log
# *.vspscc
# *.vssscc

# Visual Studio 2022 cache and environment files
.vs/
Generated_Code/

# Backup & local history
*.bak
*.orig
_ReSharper*/
*.DotSettings.user

# NuGet packages
*.nupkg
# NuGet v3's project.json package management files
project.lock.json
project.fragment.lock.json
artifacts/

# Rider IDE
.idea/

# MSTest test Results
TestResults/
*.coverage
*.coveragexml

# nCrunch
.ncrunch*
*.ncrunch*

# Visual Studio Test Explorer
.vstest/

# .NET Core
project.lock.json
project.assets.json
*.deps.json

# C# Source Generators
*.g.cs
*.g.i.cs

# Others
*.dbmdl
*.pdb
*.cache
*.tmp

# Windows image file caches
Thumbs.db
ehthumbs.db
